*.DS_Store
.DS_Store
/01_sent_to_me
/02_manually_produced
/99_arkiv
/annotation_databases
/apiin_bu
/biorender
/biotransformer3.0jar
/input_data
/input
/output
/other
/NetID/
/molekyler/
/standard_peaks
/standards
/scripts/ignore/
/tmp
/molekyler/vektorbilder/
/anteckningar
/analyses/old/
/testing
/script_tools/test_sqlite_db.R
/script_tools/__pycache__/
/script_tools/test_*
/script_tools/__pycache__/create_report.cpython-312.pyc
/script_tools/run_filtering.log
*.html
*.pdf
*.svg
*.bat
.snakemake/
.pixi/
glycone_list.xlsx
example_config.yaml
012626_FASI PR_LL.pptx
.vscode/
analyses/__pycache__
03_presentationer/
