/01_sent_to_me
/02_manually_produced
/99_arkiv
/annotation_databases
/apiin_bu
/biorender
/biotransformer3.0jar
/input_data
/standard_peaks
/standards
/scripts/ignore/
*.pdf
*.svg
*.bat
