*.DS_Store
/01_sent_to_me
/02_manually_produced
/99_arkiv
/annotation_databases
/apiin_bu
/biorender
/biotransformer3.0jar
/input_data
/input
/output
/other
/standard_peaks
/standards
/scripts/ignore/
/molekyler
/tmp
/anteckningar
*.html
*.pdf
*.svg
*.bat
.snakemake/
glycone_list.xlsx
example_config.yaml
012626_FASI PR_LL.pptx
